/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes scaleHeart {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.5;
  }
}

@keyframes opacitySparks {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.like-icon {
  cursor: pointer;
}

.sparks {
  fill: var(--icon-heart-color);
  opacity: 0;
}

.core {
  fill: #fff;
  transition: fill .3s .03s;
}

.like-icon:hover .core {
  fill: #000;
  transition: fill .3s;
}

.like-icon:active .core {
  fill: var(--icon-heart-color);
  transition: fill .3s;
}

.like-icon.is-liked .core {
  fill: var(--icon-heart-color);
  transition: fill .3s;
}

.main-body {
  fill: #fff;
  transition: fill .3s;
}

.like-icon:hover .main-body {
  fill: #000;
  transition: fill .3s .05s;
}

.like-icon:active .main-body {
  fill: var(--icon-heart-color);
  transition: fill .3s .05s;
}

.like-icon.is-liked .main-body {
  fill: var(--icon-heart-color);
  transition: fill .3s .05s;
}

.contour {
  fill: #000;
  transition: fill .1s;
}

.like-icon.is-liked .contour {
  fill: var(--icon-heart-color);
  transition: fill .3s .06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scaleHeart 0.3s ease-in 0.1s 2 alternate;
}

.like-icon.is-liked .sparks {
  animation: opacitySparks 0.3s ease-in 0.3s 2 alternate;
}