/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--text-weight);
  background-color: #fff;
  color: #000;
  background-image: 
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: var(--section-width);
  block-size: 368px;
  margin: 100px 0;
  background-color: #fff;
  border: 2px solid #000;
  padding: clamp(7.5rem, 6.346rem + 4.923vw, 8.5rem) 0 120px;
  font-family: var(--accent-font);
  gap: 20px;
}

.header__title {
  font-size: clamp(3.063rem, 1.909rem + 4.923vw, 4.063rem);
  font-weight: 400;
  line-height: 65px;
  text-transform: uppercase;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.226rem + 2.769vw, 1.438rem);
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  inline-size: var(--section-width);
}

.card {
  background-color: #fff;
  border: 2px solid #000;
}

.card__title {
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: "wght" 700;
}

.card__image-block {
  position: relative;
  margin: 0;
}

.card__image {
  inline-size: 100%;
  object-fit: cover;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.card__image-lable {
  position: absolute;
  top: clamp(1.5625rem, 1.4183rem + 0.6154vw, 1.6875rem);
  right: clamp(0.6875rem, -0.3221rem + 4.3077vw, 1.5625rem);
  font-family: var(--accent-font);
  font-size: 14px;
  opacity: 0.5;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .card__image-lable {
    -webkit-text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card__decription {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  margin: 0 25px 25px;
  gap: 12px;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid #000;
}

.card__like-button {
  min-inline-size: 130px;
  padding: 9px 17px;
}

.button-style {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 12.6px;
  background-color: #fff;
  border: 2px solid #000;
  position: relative;
  cursor: pointer;
  transition: box-shadow ease 0.3s;
}

.button__text {
  color: #fff;
  mix-blend-mode: difference;
}

.button-style:focus {
  outline: none;
}

.button-style:focus-visible {
  box-shadow: 2px 2px 0px 0px #000;
}

.button-style::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  border: inherit;
  scale: 0 1;
  transform-origin: left;
  transition: scale ease-in-out 0.5s;
}

.button-style:hover::before {
  scale: 1;
}

.footer {
  margin: 50px 34.5px 100px;
}

.footer__button {
  display: flex;
  gap: 8px;
  padding: 15px 18px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer__button-icon {
  inline-size: 21px;
  fill: #fff;
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  .footer__button-icon {
    inline-size: 28px;
  }
}