/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--text-weight);
  background-color: #fff;
  color: #000;
  background-image: 
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: var(--section-width);
  block-size: 368px;
  margin: 100px 0 102px;
  background-color: #fff;
  border: 2px solid #000;
  padding: clamp(7.5rem, 6.346rem + 4.923vw, 8.5rem) 0 120px;
  font-family: var(--accent-font);
  gap: 20px;
}

.header__title {
  font-size: clamp(3.063rem, 1.909rem + 4.923vw, 4.063rem);
  font-weight: 400;
  line-height: 65px;
  text-transform: uppercase;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.226rem + 2.769vw, 1.438rem);
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  inline-size: var(--section-width);
}

.card {
  background-color: #fff;
  border: 2px solid #000;
}

.card__title {
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: "wght" 700;
}

.card__image {
  inline-size: 100%;
  object-fit: cover;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.card__decription {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
}