/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter-Variable', sans-serif;
  --accent-font: 'PressStart2P-Regular', monospace;
  --title-weight: 700;
  --text-weight: 400;
  --section-width: min(100%, 696px);
  --icon-heart-color: #ff0000;
}